# Local Development Environment Variables
# Copy this file to .env and update with your local credentials

DATABASE_URL=mysql+pymysql://almarkazy:almarkazypass@localhost/hospi
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=a-very-long-random-secret-key-change-in-production
FLASK_ENV=development

# WhatsApp Meta Cloud API
WHATSAPP_API_TOKEN=EAASNymnpqyYBRKdkHCZAOJcfBjOFiLjeg8zy5oG97ABfcSt09QfgFu6Q4uO4XFKhuZC6CDOaSZCAV9TGyZBVZARKj8jx8QM8DsvUlU2BB7woxrOAMzbnhqLUFCnJBYDrl7B5LqkIhA2j1uMdUvWxkN5PGd08vKyCMt6mwk5sUImhgHYqZAgLVpiBrAvmDxVaAtVFTnyuXjz45g8dSsuoYyPDZAyo8DOMU9UBxByoQ0ZAZBf3y7x2XUQHJ6e9mQuGUBBhZC2CFsIM12DrpA6PstCZCZAS
WHATSAPP_PHONE_ID=201019278838
WHATSAPP_TEMPLATE_NAME=hello_world
SITE_URL=https://alteb.almarkazy.com
