<style>
    html,
    body {
        margin: 0;
        min-height: 100%;
        min-width: 100%;
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
    }

    * {
        box-sizing: border-box;
    }

    .text-node {
        background-clip: text !important;
        -webkit-background-clip: text !important;
    }

    /* pharma main */
    .pharma-mai-a7ffe6bd5591 {
        position: relative;
        width: 336px;
        height: 563px;
        background: #FFFFFFFF;
        overflow: hidden;
        z-index: 0;
    }

    /* result search */
    .result-sea-a800a9b54aa0 {
        position: absolute;
        left: 23px;
        top: 182px;
        width: 297px;
        height: 218px;
        background: #e3d8d8FF;
        overflow: hidden;
    }

    /* alternativ */
    .alternativ-a80171a4ab14>svg {
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translate(0px, 0px);
    }

    .alternativ-a80171a4ab14 {
        position: absolute;
        left: 4px;
        top: 52px;
        width: 20px;
        height: 16px;
    }

    /* drug ditail */
    .drug-ditai-a80127eb2245 {
        position: absolute;
        left: 34px;
        top: 50px;
        width: 229px;
        height: 20px;
        background: #B1B2B5FF;
    }

    /* check done */
    .check-done-a80112734ecd {
        position: absolute;
        left: 269px;
        top: 50px;
        width: 26px;
        height: 22px;
        background: #13dc00FF;
    }

    /* deatalse of bill */
    .deatalse-o-a800d35f9a06 {
        position: absolute;
        left: 0px;
        top: 2px;
        width: 297px;
        height: 40px;
        background: #B1B2B5FF;
    }

    /* bottom search */
    .bottom-sea-a8008599c900 {
        position: absolute;
        left: 2px;
        top: 77px;
        width: 41px;
        height: 28px;
        background: #B1B2B5FF;
    }

    /* search bar */
    .search-bar-a8006181d12b {
        position: absolute;
        left: 43px;
        top: 77px;
        width: 271px;
        height: 28px;
        background: #57b734FF;
    }

    /* secondry logo */
    .secondry-l-a8003873aa96 {
        position: absolute;
        left: 1px;
        top: 0px;
        width: 42px;
        height: 47px;
        background: #0241ffFF;
    }

    /* prime logo */
    .prime-logo-a8000d10d5b0 {
        position: absolute;
        left: 293px;
        top: 0px;
        width: 42px;
        height: 47px;
        background: #0241ffFF;
    }

    /* header */
    .header-a7fffa56338d {
        position: absolute;
        left: -1px;
        top: 0px;
        width: 336px;
        height: 45px;
        background: #B1B2B5FF;
    }
</style>
<!-- frame: result search -->
<div class="frame result-sea-a800a9b54aa0">
    <!-- rect: deatalse of bill -->
    <div class="shape rect deatalse-o-a800d35f9a06">
    </div>
    <!-- circle: check done -->
    <div class="shape circle check-done-a80112734ecd">
    </div>
    <!-- rect: drug ditail -->
    <div class="shape rect drug-ditai-a80127eb2245">
    </div>
    <!-- path: alternativ -->
    <div class="shape path alternativ-a80171a4ab14">
        <svg width="30" xmlns="http://www.w3.org/2000/svg" height="26"
            id="screenshot-65de80d4-0cae-8053-8007-a80171a4ab14" viewBox="365 400 30 26"
            style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none"
            version="1.1">
            <g id="shape-65de80d4-0cae-8053-8007-a80171a4ab14">
                <defs></defs>
                <g class="fills" id="fills-65de80d4-0cae-8053-8007-a80171a4ab14">
                    <path d="M388,403L372,413.370361328125L388,423.0000305175781L372,413.370361328125"></path>
                </g>
                <g id="strokes-65de80d4-0cae-8053-8007-a8462563cd83-65de80d4-0cae-8053-8007-a80171a4ab14"
                    class="strokes">
                    <g class="stroke-shape">
                        <defs></defs>
                        <path d="M388,403L372,413.370361328125L388,423.0000305175781L372,413.370361328125"
                            style="fill:none;fill-opacity:none;stroke-width:2;stroke:#000000;stroke-opacity:1"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <!-- circle: check done -->
    <div class="shape circle check-done-a845691dd90a">
    </div>
    <!-- circle: check done -->
    <div class="shape circle check-done-a8457152a219">
    </div>
    <!-- rect: drug ditail -->
    <div class="shape rect drug-ditai-a845691dd90b">
    </div>
    <!-- rect: drug ditail -->
    <div class="shape rect drug-ditai-a8457152a21a">
    </div>
    <!-- path: alternativ -->
    <div class="shape path alternativ-a845691dd90c">
        <svg width="30" xmlns="http://www.w3.org/2000/svg" height="26"
            id="screenshot-65de80d4-0cae-8053-8007-a845691dd90c" viewBox="365 432 30 26"
            style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none"
            version="1.1">
            <g id="shape-65de80d4-0cae-8053-8007-a845691dd90c">
                <defs></defs>
                <g class="fills" id="fills-65de80d4-0cae-8053-8007-a845691dd90c">
                    <path d="M388,435L372,445.370361328125L388,455.0000305175781L372,445.370361328125"></path>
                </g>
                <g id="strokes-65de80d4-0cae-8053-8007-a84625645662-65de80d4-0cae-8053-8007-a845691dd90c"
                    class="strokes">
                    <g class="stroke-shape">
                        <defs></defs>
                        <path d="M388,435L372,445.370361328125L388,455.0000305175781L372,445.370361328125"
                            style="fill:none;fill-opacity:none;stroke-width:2;stroke:#000000;stroke-opacity:1"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <!-- path: alternativ -->
    <div class="shape path alternativ-a8457152a21b">
        <svg width="30" xmlns="http://www.w3.org/2000/svg" height="26"
            id="screenshot-65de80d4-0cae-8053-8007-a8457152a21b" viewBox="365 432 30 26"
            style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none"
            version="1.1">
            <g id="shape-65de80d4-0cae-8053-8007-a8457152a21b">
                <defs></defs>
                <g class="fills" id="fills-65de80d4-0cae-8053-8007-a8457152a21b">
                    <path d="M388,435L372,445.370361328125L388,455.0000305175781L372,445.370361328125"></path>
                </g>
                <g id="strokes-65de80d4-0cae-8053-8007-a8462564b9e5-65de80d4-0cae-8053-8007-a8457152a21b"
                    class="strokes">
                    <g class="stroke-shape">
                        <defs></defs>
                        <path d="M388,435L372,445.370361328125L388,455.0000305175781L372,445.370361328125"
                            style="fill:none;fill-opacity:none;stroke-width:2;stroke:#000000;stroke-opacity:1"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>

<!-- frame: pharma main -->


<div class="frame pharma-mai-a7ffe6bd5591">
    <!-- rect: header -->
    <div class="shape rect header-a7fffa56338d">
    </div>
    <!-- circle: prime logo -->
    <div class="shape circle prime-logo-a8000d10d5b0">
    </div>
    <!-- circle: secondry logo -->
    <div class="shape circle secondry-l-a8003873aa96">
    </div>
    <!-- rect: search bar -->
    <div class="shape rect search-bar-a8006181d12b">
    </div>
    <!-- rect: bottom search -->
    <div class="shape rect bottom-sea-a8008599c900">
    </div>
    <!-- frame: result search -->
    <div class="frame result-sea-a800a9b54aa0">
        <!-- rect: deatalse of bill -->
        <div class="shape rect deatalse-o-a800d35f9a06">
        </div>
        <!-- circle: check done -->
        <div class="shape circle check-done-a80112734ecd">
        </div>
        <!-- rect: drug ditail -->
        <div class="shape rect drug-ditai-a80127eb2245">
        </div>
        <!-- path: alternativ -->
        <div class="shape path alternativ-a80171a4ab14">
            <svg width="30" xmlns="http://www.w3.org/2000/svg" height="26"
                id="screenshot-65de80d4-0cae-8053-8007-a80171a4ab14" viewBox="365 400 30 26"
                style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none"
                version="1.1">
                <g id="shape-65de80d4-0cae-8053-8007-a80171a4ab14">
                    <defs></defs>
                    <g class="fills" id="fills-65de80d4-0cae-8053-8007-a80171a4ab14">
                        <path d="M388,403L372,413.370361328125L388,423.0000305175781L372,413.370361328125"></path>
                    </g>
                    <g id="strokes-65de80d4-0cae-8053-8007-a83ca4b0430a-65de80d4-0cae-8053-8007-a80171a4ab14"
                        class="strokes">
                        <g class="stroke-shape">
                            <defs></defs>
                            <path d="M388,403L372,413.370361328125L388,423.0000305175781L372,413.370361328125"
                                style="fill:none;fill-opacity:none;stroke-width:2;stroke:#000000;stroke-opacity:1">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>